header{
    grid-template-columns: 15% 85%;
    margin-bottom: 10px;
}
header , header ul,footer{
    display: grid;
}
header img{
    width: 100%;
}
header ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
header,footer{
    background-color: black;
}
/* footer styles*/
footer{
    display: grid;
     grid-template-columns: repeat(4, 1fr); 
     
}
.white{
    color: #fff;
}
a{
    text-decoration: none;
    font-size: 18px;
}
.bannerBlock img{
    width: 100%;
    height: 720px;
}
/* block1 */
.block1{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	/* margin: 20px; */
	background-color: aliceblue;

}
.subblock{
	display: grid;
	grid-template-columns: repeat(2,1fr);
}
.imgs img{
	height:190px;
	width: 190px;
	border: 2px solid;
	border-radius: 50%;
}
.imgs:hover{
	zoom: 101%;
}

.hp{
	margin-top: 40px;
}
/* block-2 */
.block2{
	display: flex;
	justify-content:center;
	background-color:lightblue;
	/* margin: 20px; */
	
}
.imgs2 img{
	width: 400px;
	height:360px;
	border: 1px solid;
	border-radius: 10px;
	
	

}
.list ul{
	list-style-type: none;
	width: 450px;
	margin: 0;
	font-size: x-large;
}
.list p{
	margin-left: 20px;
	color:gray;
}

header,footer,.bannerBlock,.block1,.block2{
	box-shadow: 10px 10px 5px #aaaaaa
}
.plus{
	font-size:xx-large;
	color: crimson;
}
.p{
	display: none;
}
.plus:hover+.p{
	display: block;
}